[submodule "sniffybug-firmware"]
	path = sniffybug-firmware
	url = https://github.com/Duisterhof/sniffybug-firmware
[submodule "sniffybug-swarmulator"]
	path = sniffybug-swarmulator
	url = https://github.com/Duisterhof/sniffybug-swarmulator.git
[submodule "AutoGDM"]
	path = AutoGDM
	url = https://github.com/tudelft/AutoGDM
